table {
  width: 97%;
  font-size: xx-large;
  border-collapse: collapse;
}

table tr td {
  text-align: center;
  padding: 7px 20px;
}

tr + tr {
  border: 2px solid lightgray;
  border-right: 0;
  border-left: 0;
}

tr td + td:nth-child(odd) {
  background-color: #F2F2DD;
}

tr + tr:nth-child(even){
  background-color: #DDEBF8;
}
